@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import 'tailwindcss';

@theme {
    --color-hytam: #141522;
    --color-secondary: #8E92BC;
    --color-cloud: #F5F5F7;
    --color-pimary: #546FFF;
}

* {
    font-family: 'Plus Jakarta Sans', sans-serif;
}
